<html>
    <body style="display: flex;justify-content: left;background-color: lightcyan;align-items: center; background-image:url('/static/ggflash.jpg');background-repeat:no-repeat;background-size:cover;">
       
            <table border="0" style="font-weight: bold;height: 59%; width: 25%;font-size: 120%;color: red;">
                <tr><td>MAIN MENU</td></tr>
                <tr><td><a href="http://localhost:5000/home">Home</a></td></tr>
                <tr><td><a href="http://localhost:5000/add">Add New Details</a></td></tr>
                <tr><td><a href="http://localhost:5000/find">Find Details</a></td></tr>
                <tr><td><a href="http://localhost:5000/delete">Delete Details</a></td></tr>
                <tr><td><a href="http://localhost:5000/update">Update Details</a></td></tr>
                <tr><td><a href="http://localhost:5000/record">View Record</a></td></tr>
            </table>
    </body>
    {% if r == 0 %}
    <body>
        <form action=http://localhost:5000/find method=POST>
            <h1>FIND DETAILS</h1>
            <table border="0" style="font-weight: bold;height: 15%; width: 150%;font-size: 150%;color: green;">
                <tr>
                    <td>Faculty/Student Id</td>
                    <td><input type=text name="s_usn"></td>
                </tr>
                
                
            </table>
           <p><input type=submit value=Find></p>
        </form>
    </body>
    
    {% elif r == 200 %}
    <body>
        <h2 style="color:red">{{error}}</h2>
    </body>
    {% else %}
    <table border=1 style="background-color:white">
    <tr>
    <th>Faculty/Student ID</th>
    <th>Person Name</th>
    <th>Department</th>
    <th>Equipment</th>
    <th>Quanatity</th>
    <th>Date of Taken </th>
    <th>Date of Return</th>
    <th>Cost of Rent</th></tr>
    {% for x in result %}
            <tr><td>{{x['s_usn']}}</td>
            <td>{{x['s_name']}}</td>
            <td>{{x['s_department']}}</td>
            <td>{{x['s_equipment']}}</td>
            <td>{{x['s_quantity']}}</td>
            <td>{{x['s_taken']}}</td>
            <td>{{x['s_return']}}</td>
            <td>{{x['s_costrent']}}</td></tr>
        {% endfor %}
        {% endif %}
</html>

