
<html>
    <body style="display: flex;justify-content: center;background-color: lightcyan;align-items: top; background-image:url('/static/eeflash.jpg');background-repeat:no-repeat;background-size:cover;">
        <body><h1>WELCOME TO COLLEGE SPORTS MANAGEMENT SYSTEM</h1></body>
            <table border="0" style="font-weight: bold;height: 60%; width: 40%;font-size: 120%;color: red;">
                <body style="display: flex;justify-content: center;background-color: blue;">
                <tr><td>MAIN MENU</td></tr>
                <tr><td><a href="http://localhost:5000/add">Add New Details</a></td></tr>
                <tr><td><a href="http://localhost:5000/find">Find Details</a></td></tr>
                <tr><td><a href="http://localhost:5000/delete">Delete Details</a></td></tr>
                <tr><td><a href="http://localhost:5000/update">Update Details</a></td></tr>
                <tr><td><a href="http://localhost:5000/record">View Record</a></td></tr>
                </body>
            </table>
    </body>
</html>